{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
  },
  "rules": {
    "arrow-parens": 0,
    "camelcase": 0,
    "comma-dangle": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/no-href-found": 0,
    "no-mixed-operators": 0,
    "prefer-template": 0,
    "semi": 0,
    "space-infix-ops": 0
  }
}
